In [2]:
import pandas as pd
heart = pd.read_csv('heart.csv')
heart.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  target
0   63    1   3       145   233    1        0      150      0       1
1   37    1   2       130   250    0        1      187      0       1
2   41    0   1       130   204    0        0      172      0       1
3   56    1   1       120   236    0        1      178      0       1
4   57    0   0       120   354    0        1      163      1       1

In [3]:
heart['age'].median()

55.0